.list {
  margin: 20px 0px;
  width: 100%;

  &__item {

    display: flex;
    align-items: flex-start;

    &::before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 100%;
      background-color: $dark-color;
      flex-shrink: 0;
    }

  }

  &__name {
    display: inline-block;
    width: 130px;
    font-weight: 600;
  }

  &__value {
    transition: .2s;
    color: $font-medium;
  }

  &__double-item {
    margin-top: 5px;
  }

  a.list__value:hover {
    color: $active-color;
  }

  &.contact-list &__double-item {
    @media (max-width: 550px) {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }

}