.project-card {
  display: flex;
  position: relative;
  box-shadow: $shadow;
  border-radius: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  min-height: 600px;

  &__info {
    width: 100%;
    padding: 70px 50px 50px;
    color: $cv-bg;
    display: flex;
    flex-direction: column;
    background: $gradient-main-trans;
    border-radius: 20px;

    @media (max-width: 550px) {
      padding: 50px 30px 30px;
    }
  }

  &__title {
    font-size: 56px;
    color: $active-color;
    order: 2;

    @media (max-width: 550px) {
      font-size: 46px;
    }

    @media (max-width: 390px) {
      font-size: 36px;
    }
  }

  &__stack {
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 2px;
    color: $cv-bg-trans-70;
    order: 1;

    @media (max-width: 550px) {
      margin-top: 40px;
    }
  }

  &__text {
    margin: 40px 0;
    font-weight: 300;
    width: 70%;
    transition: .4s;
    order: 3;
      color: $cv-bg-trans-70;
  }

  &__link-list {
    margin: auto 0 0;
    display: flex;
    flex-direction: column;
    order: 4;
  }

  &__link:active,
  &__link {
    color: $cv-bg;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    transition: .2s;
    width: 0px;

    @media (max-width: 550px) {
      margin-top: 15px;
    }
  }

  &__link:hover {
    color: $active-color;
  }
}