
/// @type Color
$bg: #cccccc;

$cv-bg: #dddddd;

$light-color: #835d47;

$dark-color: #1e2f52;

$font-medium: #383838;

$shadow: 
  rgb(0 0 0 / 9%) 0px 2px 1px,
  rgb(0 0 0 / 9%) 0px 4px 2px,
  rgb(0 0 0 / 9%) 0px 8px 4px,
  rgb(0 0 0 / 9%) 0px 16px 8px,
  rgb(0 0 0 / 9%) 0px 32px 16px;

