.body {
  background-color: $bg;
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100%;
  transition: .4s;

  &__container {
    overflow: hidden;
    flex-grow: 1;
    max-width: 960px;
    margin: 20px;
    background-color: $cv-bg;
    box-shadow: $shadow;
    border-radius: 20px;

  @media (max-width: 460px) {
    margin: 10px;
  }
  }

}