.header {
  display: flex;
  align-items: center;
  padding: 40px 40px 80px;
  gap: 40px;

  background: $gradient-main;

  &__info {
    color: $cv-bg;
  }

  @media (max-width: 650px) {
      gap: 30px;
    }

  @media (max-width: 460px) {
    padding: 30px 30px 70px;
    gap: 20px;
  }

  &__text {
    @media (max-width: 650px) {
      margin-top: 10px;
    }
  }
}

.photo {
  &__border {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 1px solid $active-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 650px) {
      width: 130px;
      height: 130px;
    }

    @media (max-width: 460px) {
      width: 130px;
      height: 130px;
    }
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url('./assets/my_photo.jpeg');
    background-size: contain;

    @media (max-width: 650px) {
      width: 120px;
      height: 120px;
    }
  }
}