.header {
  display: flex;
  align-items: center;
  padding: 40px 40px 80px;
  gap: 40px;

  background: linear-gradient(45deg, $light-color, $dark-color);

  &__info {
    color: $cv-bg;
  }
}

.photo {
  &__border {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 1px solid $active-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url('./assets/my_photo.jpeg');
    background-size: contain;
  }
}