// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


html {
  color: $font-medium;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}


.subtitle {
  color: $dark-color;
  padding: 40px;
  font-size: 32px;
}