// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


html {
  color: $font-medium;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .8px;
  line-height: 1.5;

  @media (max-width: 460px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  width: 100%;
}


.subtitle {
  color: $dark-color;
  padding: 40px 20px;
  font-size: 32px;
  font-weight: 600;

  @media (max-width: 650px) {
    font-size: 28px;
    padding: 30px 20px;
  }

  @media (max-width: 460px) {
    font-size: 24px;
    padding: 20px 0px;
  }
}

.title {
  @media (max-width: 650px) {
      font-size: 28px;
      line-height: 1.2;
    }

  @media (max-width: 460px) {
    font-size: 24px;
  }
}